.bodyMinhasInformacoes {
    width: 65vw;
    height: 65vh;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
}

.childBodyMinhasInformacoes {
    display: flex;
    flex-direction: column;
    margin-left: 2vw;
}

.divInformacoesMinhasInformacoes {
    margin-top: 3.5vh; 
    width: 60vw;
}

.divInformacoesPedido {
    margin-left: 2vw;
    margin-top: 1vh;
    display: flex;
    gap: 1vh;
    flex-direction: column;
}

.divInformacoesPedido > p {
    font-size: 12px;
    color: rgb(130, 130, 130);
}

.divInformacoesPedido > h3 {
    font-size: 16px;
}

.divFlex {
    display: flex;
}


.childDivTop {
    margin-top: 3.5vh;
    width: 60vw;
    display: flex;
    justify-content: space-between;
}

.childDivTop > h3 {
    font-size: 14px;
    color: rgb(71, 71, 71);
}

.hrMinhasInformacoes {
    width: 60vw;
    border: 1px solid rgb(204, 204, 204);
    margin-top: 3vh;
}

.divInformacoesMinhasInformacoes > ul > li {
    text-decoration: none;
    text-transform: none;
    font-size: 14px;
    margin-top: 1vh;
    color: rgb(71, 71, 71);
}
.divInformacoesMinhasInformacoes > ul {
    list-style: none;
}

